* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 200;
  background-color: aliceblue;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header styling */

header {
  display: flex;
  flex-direction: row;
  margin: 0px;
  background-color: rgb(63, 63, 63);
}

header h1 {
  padding-right: 20px;
  margin-left: 80px;
  font-weight: 500;
  color: #303030;
  background-color: #118686;
}

nav {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  border-bottom: 5px solid #118686;
  border-radius: 3px;
  color: #86ffff;
  padding: 0 10px;
  margin: 0 10px;
}

/* Hero Banner styling */
.hero-banner {
  background-image: url("../images/ccchan.jpg"), url("../images/02-hero-bg.jpg");
  background-position: right center, center center;
  background-repeat: no-repeat;
  background-size: auto 100%, cover;
  color: #384047;
  font-family: "Nunito", sans-serif;
  height: 500px;
}


#message {
  position: relative;
  top: 10px;
  left: 20px;
  width: 20%;
  text-align: center;

}

.hero-banner h2 {
  background-color: white;
  border-radius: 20px;

}

/* about me */
#about {
  margin-top: 20px;
  display: flex;
  height: 200px;
}

.right {
  width: 75%;
  margin-left: 20px;
}

.right h3 {
  font-size: 18px;
}

/* Portfolio container */
#work {
  text-align: center;
  border-bottom: 2px solid black;
  width: 75%;
  margin: 50px auto;

}

/* ProjectGrid CSS */
#projectGrid {
  display: grid;
  margin: 0px 5%;
  min-height: 800px;
  height: 70vh;
  grid-template-columns:1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "project1 project1"
  "project1 project1"
  "project1 project1"
  "project2 project3"
  "project4 project5"
  ;
}

#project1 {
  grid-area: project1;
  background-image: url("../images/02-portfolio-4.jpg");

}
#project2 {
  grid-area: project2;
  background-image: url("../images/02-portfolio-1.jpg");
}

#project3 {
  grid-area: project3;
  background-image: url("../images/02-portfolio-2.jpg");
}

#project4 {
  grid-area: project4;
  background-image: url("../images/02-portfolio-3.jpg");
}

#project5 {
  grid-area: project5;
  background-image: url("../images/02-run-buddy.jpg");
}

.projectGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  border: 5px solid #5db1b1;
}

.heading {
  background-color: #5db1b1;
  padding: 15px;
  height: 80px;
  bottom: 20px;
  width: 220px;
  color: rgb(21, 24, 0);
  font-size: 18px;
  border: 2px solid #2370af;
  position: relative;
  z-index: 100;
}

/* Contact Me (Footer) */
footer {
  display: flex;
  flex-direction: row;
  margin: 20px 5%;
  height: 80px;
}

#contact {
  display: flex;
  order: 1px solid blue;
  width: 75%;
  margin-left: 10px;
  justify-content: space-around;
  align-items: center;
  text-decoration: ;
}

#contact a{
  color: black;
  border-bottom: 3px solid black;
  padding-bottom: 5px;
  font-size: 18px;
}

.left {
  width: 25%;
  border-right: 5px solid rgb(125, 151, 235);
  text-align: right;
  align-items: center;
  }

  .left h2 {
    margin-right: 20px;
    font-size: 32px;
  }


  @media only screen and (max-width: 600px) {
    #headline {
      position: static;
      margin: 20px;
    }
    nav {
      display: none;
    }
    header h1{
      display: absolute;
      width: 100%;
    }

    #projectGrid {
      grid-template-rows: 300px 300px 300px 300px 300px;
      grid-template-columns: 1fr;
      grid-template-areas:
        "project1"
        "project2"
        "project3"
        "project4"
        "project5"
      ;
      margin: 5px 5px;
    }
        
    .hero-banner {
      height: 80px;
    }

    .hero-banner h2 {
      position: static;
      margin: 20px;
    }
  }

  @media only screen and (max-width: 550px) {
    #about {
      margin-bottom: 100px;
    }
    #work {
      margin-top: 50px;
    }
  
    .contact {
      display: none;
    }
  }

